<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tronku.quizapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ques1"
            android:label="@string/ques1" />
        <activity
            android:name=".ques2"
            android:label="@string/ques2" />
        <activity
            android:name=".exit"
            android:label="@string/exit" />
        <activity
            android:name=".ques3"
            android:label="@string/ques3" />
        <activity
            android:name=".ques4"
            android:label="@string/ques4" />
        <activity android:name=".ques5"
            android:label="@string/ques5"/>
        <activity android:name=".win" android:label="@string/win"/>
    </application>

</manifest>